.userHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    text-align: center;
    gap: 5vh
}

.userDetails {
    margin-bottom: 20px;
}

.welcome, .name, .occupation {
    font-size: 24px;
    font-weight: bold;
}

.logo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}